@charset "utf-8";

@import 'foundation/normalize';
@import 'foundation/foundation';
@import 'normalize';

@font-face {
  font-family: "Sorts Mill Goudy";
  src: url("../fonts/OFLGoudyStMTT.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-thin.ttf");
}

body {
  background: #f2f2f2;
  color: #404040;
  margin: 0 auto;
  font-size: 1.2rem;
}

.center {
  text-align: center;
}

.sans {
  font-family: "Raleway";
}

.test-border {
  border: 1px solid blue;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  //color: #050;
}

h3::before {
  //content: "✩ ";
}

.vcard {
  border: none;
}

.skills-row {
  padding-bottom: rem-calc(10);
}

.zebra > .row:nth-child(even) {
  background-color: #ddd;
}
