---
title: Rails Developer
---
.row
  .small-12.columns.text-center
    %h1.sans Zoë Sparks
.row
  .small-12.columns.text-center
    %h2.sans= current_page.data.title

.row
  .small-4.column
  .small-4.columns.small-centered.text-center
    %ul.vcard
      %li.email
        %a{href: "mailto:zoe@hush.es"} zoe@hush.es
      %li.phone-number (512) 937-6080
      %li.street-address
        1186 Oak Grove Ave.
        %span.locality Austin
        %span.region TX
        %span.postal-code 78702
  .small-4.columns

.row
  %h3 skills
  %table.section.skills
    %tr
      %th langauges
      %th frameworks
      %th testing
      %th other
    %tr
      %td Ruby
      %td Rails, Sinatra, Middleman
      %td MiniTest, Cucumber
    %tr
      %td JavaScript
      %td Backbone
      %td Mocha, Jasmine
      %td jQuery, Underscore, CoffeeScript, Node
    %tr
      %td Haskell
    %tr
      %td frontend
      %td
      %td
      %td CSS, HTML, Sass

%h3 selected open source projects
%table.section
  %tr
    %td Fantasy Florist
    %td A Ruby-driven Twitter bot that describes imaginary flowering plants.
  %tr
    %td Scissors.JS
    %td A JavaScript library for making Burroughs-style literary cut-ups and an accompanying web app.
  %tr
    %td Glittery
    %td A Rails-based art gallery.
  %tr
    %td avidas/ Connecther-donate
    %td My Opporunity Hack team’s entry. Event donations framework. I wrote much of the JS code and documentation.

%h3 work experience
%table.section
  %tr
    %td Feb. 2014 – Oct. 2015
    %td
      %h4 Ruby Developer, Avende, Austin
      %ul
        %li Develop command line and web-based data-processing applications for Texas Department of Ag., Texas Nurses Assoc., and others.
  %tr
    %td 2010 – 2011
    %td
      %h4 NOC Technician I, Data Foundry (Colo Data Center), Austin, TX
      %ul
        %li Monitored network and chassis health.
        %li Provided phone and email support for business customers with T1 connections and rural customers with dial-up connections.
  %tr
    %td 2009 – 2010
    %td
      %h4 Technology Team Member, Robert Half Technology, Austin, TX
      %ul
        %li Provided support for Texas Bar Exam, cable running at Facebook, LBJ High classroom network set-up, etc.
  %tr
    %td 2006 – 2007
    %td
      %h4 Computer Assistant, IT Services, Bard College at Simon’s Rock, Great Barrington, MA
      %ul
        %li Provided helpdesk, email, and phone support for students, faculty, and staff.
        %li Installed, updated, and repaired college-owned computers and networking equipment.

%h3 education
%table.section
  %td 2006 – 2010
  %td
    %h4 B.A. in Music Theory and Composition, Bard College at Simon’s Rock, Great Barrington, MA., 3.1 GPA
    %p Graduated at the age of 20. Recipient of $52,000 in scholarship money.
